/* Books List-Preview */

.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 1em;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgb(22, 55, 255, 0.397);
  width: 300px;
}

.book-img {
  object-fit: cover;
  width: 100%;
}

/* Post Header */
.book-gallery-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.4em;
  position: relative;
  justify-content: center;
}
.book-gallery-header i {
  position: absolute;
  right: 0;
}

.heading .main_heading {
  font-size: 1.2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 275px;
  display: block;
  overflow: hidden;
}

.post_header img {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.432);
}

.book-img-container img {
  width: 230px;
  height: 230px;
  border-radius: 15px;
}

.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.089);
}

.book-preview img {
  width: 120px;
  object-fit: cover;
}
