/* Filter */

.book-filter {
  margin-bottom: 2rem;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  padding: 15px 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.book-filter > label {
  font-size: 1.2rem;
  font-weight: 700;
}

.book-filter > input {
  border-radius: 0.3rem;
  font-size: 1.1rem;
}

.book-filter > input[type='text'] {
  padding: 0.5rem;
  border-radius: 20px;
  border: solid 2px black;
  font-size: 1.2rem;
  text-align: center;
}

.book-filter input[type='range'] {
  width: 180px;
}


.btn-add-book {
    height: 60px;
    line-height: 80px;
    width: 60px;
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    border:0;
    background-color: #4caf50;
    color: white;
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

@media screen and (max-width: 800px) {
  .book-filter {
    flex-direction: column;
  }
}
