.mail-preview {
  margin-inline-start: 20px;
  gap: 10px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 0 3px 0px #46464640;
  max-height: 80px;
  transition: all 0.15s ease-in-out;
  margin-block-end: 10px;
  font-size: 1.1rem;
  margin-inline-end: 10px;
}

.mail-preview:hover {
  box-shadow: 0 0 3px 3px #d35d6e;
  z-index: 1;
}

.mail-preview:hover .mail-preview-btn-container {
  opacity: 1;
}

.mail-preview-btn-container {
  opacity: 0;
}
.title {
  min-width: 25vw;
  max-width: 25vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.unread {
  background-color: #7373731f;
}

.read {
  font-weight: 700;
}

.star-btn,
.remove-btn,
.mail-is-open-btn {
  font-size: 20px;
  background-color: inherit;
  border: 0;
  cursor: pointer;
}

.sender {
  gap: 10px;
  align-items: center;
}

.fas.fa-star:hover {
  color: rgb(230, 213, 60);
}

.fas.fa-star.active {
  color: rgb(230, 213, 60);
}

.fas.fa-trash {
  color: #e34d4d;
  cursor: pointer;
  opacity: 0.5;
}

.fas.fa-trash:hover {
  opacity: 1;
}

@media (max-width: 800px) {
  .mail-preview {
    flex-direction: column;
    align-items: unset;
    max-height: unset;
  }

  .date {
    margin: 0;
    font-size: 0.8rem;
  }

  .title {
    min-width: unset;
    max-width: 70vw;
    margin: 0;
  }

  .sender > p {
    order: -1;
    margin: 0;
  }

  .sender {
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 800px) {
  .mail-preview {
    align-items: center;
  }

  .star-btn,
  .remove-btn,
  .mail-is-open-btn {
    font-size: 24px;
    background-color: inherit;
    border: 0;
    cursor: pointer;
  }
}
