.message-view-from {
  font-weight: bolder;
}

.mail-col-message-view {
  z-index: 0;
  border-radius: 0 1rem 1rem 0;
  box-sizing: border-box;
  padding: 1rem;
  overflow: hidden;
  position: relative;
}
.message-view-title {
  font-size: 1.5rem;
  font-weight: bolder;
}

.message-view-to {
  opacity: 0.5;
}

.message-view-body {
  margin: 2rem 0;
}

.btn-mail-details.fa.fa-envelope,
.btn-mail-details.fas.fa-trash{
  font-size: 48px;
  border: 0;
  text-align: center;
  cursor: pointer;
}

.btn-mail-details.fa.fa-envelope{
  color: #25D366;
  opacity: 0.5;
}

.btn-mail-details.fa.fa-envelope:hover,
.btn-mail-details.fas.fa-arrow-left:hover,
.btn-mail-details.fas.fa-arrow-right:hover
{
  opacity: 1;
}

.btn-mail-details.fas.fa-arrow-left,
.btn-mail-details.fas.fa-arrow-right
{
  opacity: 0.7;
}

.back-next-btns {
  font-size: 48px;
  position: relative;
  bottom: 36px;
}

.mail-title {
  text-align: center;
  text-decoration: underline;
}


@media (min-width: 800px) {
  .back-next-btns{
    position: unset;
  }
}