.add-mail {
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 40px;
  font-size: 48px;
}

.modal-compose-email {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  position: fixed;
  bottom:5px;
  right:0;
  padding:0.3rem;
  border-radius: 10px;
  border: 1x solid #333;
  box-shadow: 0px 0px 10px black;
  z-index: 99999;
  width:325px;
}

.closeModal {
  background: transparent;
  border: 0;
  right: 0.5rem;
  top: 0;
  position: absolute;
  font-size: 40px;
  cursor: pointer;
}

.closeModal:hover {
  color: #e34d4d;
}

.compose-email {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.2rem;
}

textarea {
  resize: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.compose-email input,
.compose-email textarea {
  padding: 1.1rem;
  font-size: 0.9rem;
  border: 1px solid #333;
}

.add-mail-btn-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.add-mail-btn {
  border: 0;
  background: transparent;
  font-size: 30px;
}

.add-mail-btn.remove {
  color: #e34d4d;
  cursor: pointer;
  opacity: 0.5;
}

.add-mail-btn.send {
  color: #5aa469;
  cursor: pointer;
  opacity: 0.5;
}

.add-mail-btn.remove:hover,
.add-mail-btn.send:hover {
  opacity: 1;
}
