.search-bar {
  position: relative;
}
.search-bar [type='search'] {
  margin-inline-start: 20px;
  margin-block-end: 20px;
  font-size: 1.3rem;
  color: rgb(44, 44, 44);
  background-color: white;
  padding: 10px 20px;
  border: 1px solid rgb(44, 44, 44);
  width: 100%;
  font-size: 1.3rem;
  border-radius: 5px;
}
.fas.fa-sort-numeric-up-alt,
.fas.fa-sort-alpha-up-alt,
.fas.fa-sort-numeric-down-alt,
.fas.fa-sort-alpha-down {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.fas.fa-sort-numeric-up-alt,
.fas.fa-sort-numeric-down-alt {
  margin: 17px 50px;
  font-size: 1.3rem;
}

.fas.fa-sort-alpha-up-alt,
.fas.fa-sort-alpha-down {
  margin: 17px 80px;
  font-size: 1.3rem;
}
