.list {
  width: 100%;
}

.search-list input[type='search'] {
  margin-inline-start: 20px;
  margin-block-end: 20px;
  font-size: 1.3rem;
  color: rgb(44, 44, 44);
  background-color: white;
  padding: 10px 20px;
  border: 1px solid rgb(44, 44, 44);
  width: 100%;
  font-size: 1.3rem;
  border-radius: 5px;
}

