.list {
  width: 100%;
}

.search-list input[type='search'] {
  margin-inline-start: 20px;
  margin-block-end: 20px;
  font-size: 1.3rem;
  color: rgb(44, 44, 44);
  background-color: white;
  padding: 10px 20px;
  border: 1px solid rgb(44, 44, 44);
  width: 100%;
  font-size: 1.3rem;
  border-radius: 5px;
}

.mail-preview {
  margin-inline-start: 20px;
  gap: 10px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 0 3px 0px #46464640;
  max-height: 80px;
}

.mail-preview:hover .date{
    display:none;
  }

  .mail-preview:hover .mail-preview-btn-container{
    display:block;
  }

  .mail-preview-btn-container{
    display:none;
  }