.email-side-nav {
  flex-direction: column;
  float: left;
  width: 150px;
  height: 100vh;
  background: #1e2426;
}

.email-side-nav > li {
  width: 100%;
  padding: 10px;
  line-height: 30px;
  color: #a6a9a9;
  font-size: 1.25em;
  transition: all ease-in-out 0.1s;
}

.email-side-nav > li:hover {
  background: #ecf0f1;
  color: #1e2426;
  cursor: pointer;
}

.email-side-nav > li:hover > a {
  color: #1e2426;
}

.email-side-nav > li > a {
  text-decoration: none;
  color: white;
  padding-inline-start: 20px;
}
