.email-side-nav {
  flex-direction: column;
  float: left;
  width: 250px;
  background: inherit;
  gap: 20px;
  height: 80vh;
  background-color: inherit;
}

.email-side-nav > a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  border: none;
  gap: 30px;
  font-size: 1.2rem;
  color: rgb(46, 46, 46);
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  font-weight: 600;
}

.email-side-nav > a:hover {
  background: rgba(255, 255, 255, 0.644);
  color: #1e2426;
  cursor: pointer;
}

.active{
  background: rgba(255, 255, 255, 0.644);
}

.email-side-nav > li > a {
  text-decoration: none;
  color: white;
  padding-inline-start: 20px;
}

.compus-mail{
  background: red;
}