@import '../css/Email/EmailNav.css';
@import '../css/Email/EmailList.css';
@import '../css/Email/EmailFilter.css';
@import '../css/Email/EmailPreview.css';
@import '../css/Email/EmailDetails.css';
@import '../css/Email/EmailAdd.css';
.email-app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:24px;
}

@media (min-width: 800px) {
  .email-app {
    flex-direction: row;
  }

}
