/*FOOTER*/

/*-------------
 	Footer
-------------*/

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #414a4f;
  justify-content: space-evenly;
  box-shadow: 0 0 8px 1px #00000085;
  height: 5vh;
  padding: 0vw 5vw;
}

footer p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}

footer p a {
  color: #fff;
}

.contact-us > a {
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  transition: transform 0.2s linear;
}

.app-name {
  cursor: pointer;
  transition: transform 0.2s linear;
  font: bold 1.4rem 'Open Sans', sans-serif;
  color: #d89909c9;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgb(0 0 0 / 10%), 0 0 5px rgb(0 0 0 / 10%),
    0 1px 3px rgb(0 0 0 / 30%), 0 3px 5px rgb(0 0 0 / 20%),
    0 5px 10px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 20%),
    0 20px 20px rgb(0 0 0 / 15%);
  margin: 0;
}

.contact-us {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.contact-us .name:hover,
.contact-us .app-name:hover,
.contact-us .fab.fa-linkedin:hover,
.app-name:hover {
  color: #0e76a8;
  transform: translateY(-10px);
}
