.red {
    background-color: #FD3A4A;
}

.green {
    background-color: #8BC34A;
}

.blue {
    background-color: #2196F3;
}

.yellow {
    background-color: #FBE870;
}

.purple {
    background-color: #FF6EFF;
}

.orange {
    background-color: #FF7F49;
}

.pink {
    background-color: #F653A6;
}

.unset {
    background-color: white;
}

.gold {
    color: gold;
}

.white {
    color: white;
}

.lightpink {
    color: lightpink;
}

.palette {
    color: #e8c69e;
}

.trash-color {
    color: gainsboro;
    background-color: gainsboro;
}