.note-app {
    background-color: #e5dbcdad;
    padding-block-start: 0.75rem;
    padding-block-end: 3rem;
}

.note-app h2,
.note-app p {
    cursor: pointer;
}

.note-app p {
    font-size: 1.5rem;
}

.note-app h2 {
    font-size: 1.6rem;
}

.note-app header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-actions {
    margin-top: 5px;
}

.note-list {
    columns: 1;
}

.note-edit>input {
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin: 3px;
}

.note-edit>button {
    border: none;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
    cursor: pointer;
}

.note-container {
    max-width: 1250px;
    text-align: center;
    margin: 0 auto;
}

.action-btn {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.note-action-btn {
    opacity: 0%;
    transition: 0.8s;
}

.note-action-btn>i {
    font-size: 1.1rem;
}

.pin-btn:hover {
    color: red;
}

.red-pin {
    color: red;
}

.color-btn {
    border-radius: 5px;
    padding: 9px;
    cursor: pointer;
    border: 0.6px solid black;
    margin-left: 3px;
}

.style-youtube {
    color: red;
    font-size: 1.8rem;
    -webkit-text-stroke: unset;
}

.style-img {
    color: #2f2b2b73;
    font-size: 1.7rem;
    -webkit-text-stroke: unset;
}


/* .style-youtube {
    color: #5d5353;
    background-color: black;
    width: fit-content;
    border-radius: 7px;
} */

@media (min-width:550px) {
    .note-list {
        columns: 2;
    }
}

@media (min-width:750px) {
    .note-list {
        columns: 3;
    }
}

@media (min-width:1050px) {
    .note-list {
        columns: 4;
    }
}


/* @media (min-width:1250px) {
    .note-list {
        columns: 5;
    }
} */