h2,
p {
    cursor: pointer;
}

p {
    font-size: 1.3rem;
}

h2 {
    font-size: 1.6rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-card {
    font-family: 'Roboto', sans-serif;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 10px 20px 20px;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(25% - 25px);
    box-shadow: 0 0 20px -1px grey;
    color: white;
    -webkit-text-stroke: 1px black;
    min-height: 150px;
    gap: 10px;
    overflow: hidden;
    max-width: 270px;
    /* align-items: center; */
}

.note-card>img {
    /* height: 120px; */
    width: 100%;
}

.note-card>iframe {
    border: none;
    width: 100%;
}

.note-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.note-list {
    padding: 0 20px;
}


/* .note-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
} */


/* .note-list {
    columns: 4;
    column-gap: 1.5vw;
} */

.action-btn {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.pin-btn:hover {
    color: red;
}

.red-pin {
    color: red;
}

.color-btn {
    border-radius: 5px;
    padding: 9px;
    cursor: pointer;
    border: 0.6px solid black;
    margin-left: 3px;
}

.red {
    background-color: #FD3A4A;
}

.green {
    background-color: #8BC34A;
}

.blue {
    background-color: #2196F3;
}

.yellow {
    background-color: #FBE870;
}

.purple {
    background-color: #FF6EFF;
}

.orange {
    background-color: #FF7F49;
}

.pink {
    background-color: #F653A6;
}

.unset {
    background-color: white;
}


/* TODO-list */

.done {
    text-decoration: line-through;
}